/**
 * Editor styles for the admin
 */
.wp-block-pi-blocks-pi-columns {
	&.aligncenter {
		> .pi-layout-column-wrap-admin {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.pi-layout-column-wrap-admin,
.pi-block-layout-column-inner .block-editor-inner-blocks {
	position: relative;
	z-index: 1;
}

.editor-styles-wrapper [data-type="pi-blocks/pi-columns"] .wp-block {
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.editor-styles-wrapper [data-type="pi-blocks/pi-column"] {
	.pi-block-layout-column {
		height: 100%;
	}
}

.edit-post-visual-editor
	.editor-block-list__block
	[data-type="pi-blocks/pi-column"],
.edit-post-visual-editor
	.block-editor-block-list__block
	[data-type="pi-blocks/pi-column"] {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0 2em;
	grid-column-gap: var(--columnGap);
	grid-row-gap: var(--rowGap);
	min-height: 0;
}

/* Grid gap classes */

.pi-block-layout-column-gap-0
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-0
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 0;
}

.pi-block-layout-column-gap-1
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-1
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 1rem;
}

.pi-block-layout-column-gap-2
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-2
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 2rem;
}

.pi-block-layout-column-gap-3
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-3
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 3rem;
}

.pi-block-layout-column-gap-4
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-4
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 4rem;
}

.pi-block-layout-column-gap-5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 5rem;
}

.pi-block-layout-column-gap-6
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-6
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 6rem;
}

.pi-block-layout-column-gap-7
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-7
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 7rem;
}

.pi-block-layout-column-gap-8
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-8
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 8rem;
}

.pi-block-layout-column-gap-9
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-9
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 9rem;
}

.pi-block-layout-column-gap-10
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-10
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 10rem;
}

.pi-block-layout-column-gap-5\.5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-5\.5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 5.5rem;
}

.pi-block-layout-column-gap-6\.5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-6\.5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 6.5rem;
}

.pi-block-layout-column-gap-7\.5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-7\.5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 7.5rem;
}

.pi-block-layout-column-gap-8\.5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-8\.5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 8.5rem;
}

.pi-block-layout-column-gap-9\.5
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-block-layout-column-gap-9\.5
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	grid-gap: 0 9.5rem;
}

/* Grid column classes. */

/* IE 11 support - Rows and column location must be explicitly defined. */

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(1),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: col1;
}

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(2),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: col2;
}

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(3),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: col3;
}

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(4),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
	grid-area: col4;
}

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(5),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	grid-area: col5;
}

.pi-layout-column-wrap-admin
	.editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(6),
.pi-layout-column-wrap-admin
	.block-editor-block-list__layout
	[data-type="pi-blocks/pi-column"]:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
	grid-area: col6;
}

/* One column grid. */

.pi-layout-columns-1
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-1
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "col1";
}

/* Two column grid. */

.pi-layout-columns-2
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-2
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "col1 col2";
}

.pi-2-col-wideleft
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideleft
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 45%;
	grid-template-columns: 1fr 45%;
}

.pi-2-col-wideright
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideright
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 45% 1fr;
	grid-template-columns: 45% 1fr;
}

.pi-2-col-wideleft-60-40
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideleft-60-40
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 60% 1fr;
	grid-template-columns: 60% 1fr;
}

.pi-2-col-wideright-60-40
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideright-60-40
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 60%;
	grid-template-columns: 1fr 60%;
}

.pi-2-col-wideleft-70-30
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideleft-70-30
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 70% 1fr;
	grid-template-columns: 70% 1fr;
}

.pi-2-col-wideright-70-30
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideright-70-30
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 70%;
	grid-template-columns: 1fr 70%;
}

.pi-2-col-wideleft-66-33
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideleft-66-33
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 66.66% 1fr;
	grid-template-columns: 66.66% 1fr;
}

.pi-2-col-wideright-66-33
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideright-66-33
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 66.66%;
	grid-template-columns: 1fr 66.66%;
}

.pi-2-col-wideleft-75-25
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideleft-75-25
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 75% 1fr;
	grid-template-columns: 75% 1fr;
}

.pi-2-col-wideright-25-75
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-2-col-wideright-25-75
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 75%;
	grid-template-columns: 1fr 75%;
}

/* Three column grid. */

.pi-layout-columns-3
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-3
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3";
}

.pi-3-col-widecenter
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-3-col-widecenter
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 2fr 1fr;
	grid-template-columns: 1fr 2fr 1fr;
}

.pi-3-col-wideleft
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-3-col-wideleft
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 2fr 1fr 1fr;
	grid-template-columns: 2fr 1fr 1fr;
}

.pi-3-col-smallcenter
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-3-col-smallcenter
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 264px 1fr;
	grid-template-columns: 1fr 264px 1fr;
}

.pi-3-col-smallcenter
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-3-col-smallcenter
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 264px 1fr;
	grid-template-columns: 1fr 264px 1fr;
}

/* Four column grid. */

.pi-layout-columns-4
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-4
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4";
}

.pi-4-col-wideleft
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-4-col-wideleft
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 2fr 1fr 1fr 1fr;
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.pi-4-col-wideright
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-4-col-wideright
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

/* Five column grid. */

.pi-layout-columns-5
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-5
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5";
}

.pi-layout-columns-6
	> .pi-layout-column-wrap-admin
	> .editor-inner-blocks
	> .editor-block-list__layout,
.pi-layout-columns-6
	> .pi-layout-column-wrap-admin
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5 col6";
}

.block-editor .pi-layout-columns-4,
.block-editor .pi-layout-columns-5,
.block-editor .pi-layout-columns-6 {
	overflow-x: visible;
}

/* Alignment styles */

.pi-block-layout-column .editor-block-list__block[data-align="full"],
.pi-block-layout-column .block-editor-block-list__block[data-align="wide"],
.pi-block-layout-column .editor-block-list__block[data-align="full"],
.pi-block-layout-column .block-editor-block-list__block[data-align="wide"] {
	margin-left: auto;
	margin-right: auto;
}

[data-type="pi-blocks/pi-column"] {
	&.pi-is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.pi-is-vertically-aligned-center {
		align-self: center;
	}

	&.pi-is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}

[data-type="pi-blocks/pi-column"] {
	.components-placeholder {
		padding: 30px;
	}

	.components-placeholder__fieldset {
		max-width: 100%;
	}
}

.pi-column-selector-button-back {
	line-height: 1.4;
	display: block;
	vertical-align: middle;
	width: 100%;
	border-radius: 3px;
	margin: 25px auto 0 auto;

	&:hover {
		color: #007cba;
	}

	&:active,
	&:focus,
	&:focus:enabled {
		background-color: transparent;
		box-shadow: none;
	}

	&::before {
		content: "\2190";
		margin-right: 5px;
	}

	svg {
		width: 16px;
		margin-right: 5px;
	}
}

.pi-column-select-panel {
	.components-button-group {
		margin-bottom: 4px;
	}

	.components-button.is-small {
		height: auto;
		padding: 8px;
		margin: 0 5px 5px 0;
	}

	.components-base-control__field + .components-base-control__help {
		margin-top: 8px;
	}
}

.pi-columns-center .pi-layout-column-wrap-admin {
	margin: 0 auto;
}

.pi-block-layout-column .wp-block-image,
.pi-block-layout-column .wp-block-image .components-resizable-box__container {
	max-width: 100% !important;
}

.is-button.pi-inspector-icon-button {
	display: inline-flex;
	margin-top: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
}

.pi-background-button-group {
	margin-bottom: 25px;
}

.components-placeholder.pi-column-selector-placeholder {
	align-items: center;
	text-align: center;
}

.empty-adv-col {
	.block-editor-block-list__layout {
		.block-editor-rich-text__editable {
			margin-top: 0;
		}
	}
}
