.client-block-frontend__label{
    margin-bottom: 16px;
    font-size: 18px !important;
    color: $color-second !important;
    font-family: $font-second;
    font-weight: 400;
}
.client-block-frontend__year {
    font-size: 20px !important;
    font-weight: 700;
    color: $color-third !important;
        font-family: $font-primary !important;
}