.pi-process-steps {
	display: flex;
	overflow: hidden;
	min-height: 480px;
	background-color: #FAF8F4;

	@include media-breakpoint-down(lg) {
		flex-direction: column;
		min-height: unset;
	}

	.ps-left {
		width: 50%;
		padding: 40px;
		display: flex;
		gap: 32px;
		align-items: center;
		align-self: center;

		@include media-breakpoint-down(xl) {
			padding: 32px;
		}

		@include media-breakpoint-down(lg) {
			width: 100%;
			flex-direction: column;
			gap: 0;
			padding: 24px;
		}

		@include media-breakpoint-down(md) {
			padding: 20px;
		}
	}

	.ps-tabs {
		display: flex;
		flex-direction: column;
		gap: 24px;
		flex-shrink: 0;
		min-width: 140px;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
			flex-wrap: wrap;
			gap: 12px 24px;
			min-width: unset;	
			border-bottom: 1px solid #E6DFD4;
			padding-bottom: 40px;
		}
	}

	.ps-tab {
		background: none;
		border: none;
		padding: 0;
		text-align: left;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 6px;
		color: #B9AE9E;
		font-size: 20px !important;
		font-weight: 500;
		font-family: $font-primary;
		line-height: 1.3;
		transition:
			opacity 0.3s ease,
			color 0.3s ease;

		&.is-active {
			opacity: 1;
			color: #E0AC47 !important;
			text-decoration: underline;
		}

		&:hover:not(.is-active) {
			color: #E0AC47;
		}

		.ps-num {
			font-weight: 500;
		}

		@include media-breakpoint-down(lg) {
			font-size: 18px;
        	justify-content: center;
		}
	}

	.ps-panels {
		flex: 1;
		border-left: 1px solid #E6DFD4;
		padding-left: 32px;

		@include media-breakpoint-down(lg) {
			border-left: none;
			padding-left: 0;
			padding-top: 24px;
			text-align: center;
		}
	}

	.ps-panel {
		display: none;

		&.is-active {
			display: block;
		}
	}

	.ps-title {
		font-family: $font-primary;
		font-size: clamp(18px, calc(1.5vw + 10px), 24px);
		font-weight: 700;
		color: #27211C;
		margin: 0 0 16px;
		line-height: 1.2;
	}

	.ps-desc {
		font-family: $font-second;
		font-size: 16px;
		line-height: 24px;
		color: #584E44;
		margin: 0;
		white-space: pre-line;
	}

	.ps-right {
		width: 50%;
		position: relative;
		overflow: hidden;
		flex-shrink: 0;

		@include media-breakpoint-down(lg) {
			width: 100%;
			flex-shrink: 0;
		}
	}

	.ps-img {
		display: none;
		aspect-ratio: 1 / 1;
		inset: 0;

		&.is-active {
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.ps-img-placeholder {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #e5e5e5;
		color: #999;
		font-size: 14px;
	}
}
