.block-text-w-counters {
    position: relative;
    z-index: 9;

    &-inner{

        @include media-breakpoint-down(lg){
            gap: 48px;
        }

        @include media-breakpoint-down(md){
            flex-wrap: wrap;
            gap: 32px;
        }
    }


    &__counters{
        display: grid;
            grid-template-columns: repeat(3, 1fr);

        .counter-item{
            padding: 48px 0;
            text-align: center;

            @include media-breakpoint-down(lg){
                padding: 32px 0;
            }

            @include media-breakpoint-down(md){
                padding: 24px 0;
                text-align: center;
            }

            @media (min-width: 414px) and (max-width: 767.98px) {
                text-align: center;
                padding: 0;
                border: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-between;
            }

            h3{
                margin: 0;
                font-size: 66px;
                line-height: 100%;
                font-family: $font-second;
                font-weight: 700;
                margin-bottom: 15px;
                @include media-breakpoint-down(lg){
                    font-size: 50px;
                }

                @include media-breakpoint-down(md){
                    font-size: 40px;
                }
            }

            p{
                font-size: 20px;
                margin-bottom: 0;
                @include media-breakpoint-down(sm){
                    font-size: 16px;
                }
            }
            

        }
    }
}