@import "../../../common.scss";

.pi-separator-blocks {
	display: flex;
	width: 100%;

	&.separator-center {
		justify-content: center;
	}

	&.separator-left {
		justify-content: flex-start;
	}

	&.separator-right {
		justify-content: flex-end;
	}

	.separator-inner {
		display: flex;
		align-items: center;
		gap: 0px;
		min-width: min(200px, 100%);
	}

	&.separator-fullwidth .separator-inner {
		width: 100% !important;
	}

	.separators {
		flex: 1;
		width: 100%; 
	}

	.separator-line {
		flex: 1;
		min-width: 20px;
	}

	.separator-icon {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;

		svg {
			display: block;
		}
	}
}

@media (max-width: 768px) {
	.pi-separator-blocks:not(.separator-fullwidth) .separator-inner {
		width: 60% !important;
	}
}
