.is-root-container {
	.wp-block-buttons {
		.wp-block-button {
			.wp-block-button__link {
				background: #E0AC47;
				color: #fff;
				border-radius: 4px;
				font-weight: 700;
				font-size: 16px;

				&:hover {
					background: darken(#E0AC47, 10%);
					color: #fff;
				}
			}
		}
	}
}
