.is-root-container {
	.wp-block-buttons {
		.wp-block-button {
			.wp-block-button__link {
				background: #E0AC47;
				color: #fff;
				border-radius: 4px;
				font-weight: 700;
				font-size: 16px;

				&:hover {
					background: darken(#E0AC47, 10%);
					color: #fff;
				}
			}
		}

		.wp-block-button.has-pi-icon {
			.wp-block-button__link {
				&::after {
					content: '';
					display: inline-block;
					width: var(--pi-icon-size, 20px);
					height: var(--pi-icon-size, 20px);
					background-image: var(--pi-icon-url);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					flex-shrink: 0;
				}
			}
		}
	}
}
