@import "../../../common.scss";

.is-root-container .hero-block {
	&-content {
		p {
			font-size: 13px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		h1 {
			margin-left: 0;
			margin-right: 0;
			letter-spacing: -0.02em;
			font-size: 48px;
			line-height: 1.2;

			@include media-breakpoint-down(sm) {
				font-size: 40px;
			}
		}
	}

	.container {
		margin: 0 auto;
	}
}
